* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
}
